@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: url('/bg.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.container img{
 width: 50%;
}
.container input{
  width: 250px;
}
/* 
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
} */

button:disabled {
  /* background-color: #20194C; */
  cursor: not-allowed;
}

.generated-image,
.captured-image,
.swapped-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.webcam{
  height: 100vh;
  /* background-color: red; */
  object-fit: cover;
  /* w-[763px] h-[932px] */
  width: 763px;
  height: 932px;
}





.webcam-container{
  width: 70vw;
}




.bar-top{
  background-image: url('../bar77.svg');

  position: absolute;
  top: 0;
  background-position: bottom;

}
.bar-bottom{
  background-image: url('../bar77.svg');

  position: absolute;
  bottom: 0;
  background-position: top;
}
